# Created by .ignore support plugin (hsz.mobi)
### Go template

# idea
.Ds_Store
.idea/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
workbench

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

